<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Member</title>
  </head>
  <body>
    <h1>Add Member</h1>
    <form class="" action='/addmember/<%= team %>' method="post">
      <label for="username"></label>
      <input type="text" name="username" value="">
      <button type="submit" name="button">Add Member</button>
    </form>
  </body>
</html>
