<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/createteam">Create Team</a>
    <a href="/createdpolls">My Polls</a>
    <a href="/logout">Logout</a>
    <h1>Teams</h1>
    <% for(i=0; i<docs.teams.length; i++) { %>
      <h2><a href='/viewpoll/<%= docs.teams[i].teamname %>'><%= docs.teams[i].teamname %></a></h2>
    <% } %>
  </body>
</html>
