<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Registration</h1>
    <form action="/register" method="post">
      <label for="username">Username</label>
      <input type="text" name="username">
      <br>
      <label for="role">Role</label>
      <select name="role">
        <option value="admin">Admin</option>
        <option value="member">Member</option>
      </select>
      <br>
      <label for="password">Password</label>
      <input type="password" name="password">
      <br>
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" name="confirmpassword">
      <br>
      <button type="submit" name="register">Register</button>
    </form>
  </body>
</html>
