body {
  font-family: 'Playfair Display', serif;
  color: #EDEDED;
  background-color: #171717;
}
ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
}
li {
  float: left;
}
li a {
  display: block;
  width: 100px;
  padding: 14px 16px;
  color: #EDEDED;
  text-decoration: none;
}
li a:hover {
  background-color: #DA0037;
}
.active {
  background-color: #DA0037;
}
.username-home {
  font-weight: lighter;
}
.teams-home {
  color: #51C4D3;
  text-decoration: none;
}

.login-register {
  color: #51C4D3;
  text-decoration: none;
  font-size: 20px;
}
.input-register {
  padding-top: 10px;
}
.label-register {
  display: inline-block;
  width: 200px;
}
.button-register {
  margin-top: 10px;
  cursor: pointer;
}

.register-login {
  color: #51C4D3;
  text-decoration: none;
  font-size: 20px;
}
.input-login {
  padding-top: 10px;
}
.label-login {
  display: inline-block;
  width: 200px;
}
.button-login {
  margin-top: 10px;
  cursor: pointer;
}

.button-createteam {
  margin-top: 10px;
  cursor: pointer;
}
.label-createteam {
  display: inline-block;
  width: 200px;
}

.endpoll-createdpolls {
  cursor: pointer;
}
.stats-createdpolls {
  color: #4ECCA3;
}

.navbar2-elements:hover {
  background-color: #4ECCA3;
}
.active-home {
  background-color: #4ECCA3;
}

.questionlabel-createpoll {
  display: inline-block;
  width: 200px;
}
.optionslabel-createpoll {
  display: inline-block;
  width: 100px;
}
.optionsinput-createpoll {
  display: block;
}
.button-createpoll {
  cursor: pointer;
}
.input-createpoll {
  margin-top: 10px;
}

.label-addmember {
  display: inline-block;
  width: 200px;
}
.button-addmember {
  margin-top: 10px;
  cursor: pointer;
}

.label-addadmin {
  display: inline-block;
  width: 200px;
}
.button-addadmin {
  margin-top: 10px;
  cursor: pointer;
}
